.mainSection{
    text-align: center;
    background-image: linear-gradient(159deg, #10EBF8, #FC08F6, #FFE515);
}
.button{
    width: 90%;
    background-color: rebeccapurple;
    margin: 14px;
    color: white !important;
}

h3{
    font-size: 20px;
    font-weight: 500;
}