.header{
    font-size: 60px;
    font-weight: 500;
    padding-top: 60px;
}

.headerPage{
    display: flex;
    justify-content: center;
}

.eachField{
    width: 90%;
    margin: 14px;
}

.startButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 14px;
}